<% if logged_in? %>

  <div class="user_show">
    <img src="<%= @user.img_url %>">
  </div>
  <div class="user_data">
    <p><%= @user.name %> @<%= @user.twitter_ID %></p>
    <p><%= @user.description %></p>
    <p>
    ツイート:<%= @user.tweet_count %>
    </p>
    <p>
    フォロー:<%= @user.followings_count %>
    </p>
    <p>
    フォロワー:<%= @user.followers_count %>
    </p>
    <p>
    お気に入り:<%= @user.favorites_count %>
    </p>
    <p>
    認証？:<%= @user.is_verified %>
    </p>
    <p>
    twitter開始日:<%= @user.twitter_created_date %>
    </p>
    <p>
    HP:<%= @user.hp %>
    </p>
    <p>
    ATK:<%= @user.attack %>
    </p>
    <p>
    DEF:<%= @user.defense %>
    </p>
    <p>
    TP:<%= @user.tp %>
    </p>
    <p>
    Gold:<%= @user.gold %>
    </p>
    wins_count: <%= @user.wins_count %>
    losses_count: <%= @user.losses_count %>
    battles_count:<%= @user.battles_count %>
  </div>
  
  
<% if `@user.description` %>
  <p>実績解除!!</p>
<% end %>

<% end %>
