<% if logged_in? %>

  <div class="user_show">
    <img src="<%= @user.img_url %>">
  </div>
  <div class="user_data">
    <p><%= @user.name %> @<%= @user.twitter_ID %></p>
    <p><%= @user.description %></p>
    <%= @user.listed_count %>
    <p>
    ツイート:<%= @user.tweet_count %>
    </p>
    <p>
    フォロー:<%= @user.followings_count %>
    </p>
    <p>
    フォロワー:<%= @user.followers_count %>
    </p>
    <p>
    お気に入り:<%= @user.favorites_count %>
    </p>
    <p>
    <%= @user.is_verified %>
    </p>
    <p>
    <%= @user.twitter_created_date %>
    </p>
    <p>
    <%= @user.hp %>
    </p>
    <p>
    <%= @user.attack %>
    </p>
    <p>
    <%= @user.defense %>
    </p>
    <p>
    TP:<%= @user.tp %>
    </p>
    <p>
    Gold:<%= @user.gold %>
    </p>

  </div>
<% end %>
